extends layout

block style
    link(rel='stylesheet', href='/stylesheets/detail.css')

block content
    header 
        figure 
            .display 
                img(src="images/movie 1.png", alt="")
            .info 
                div 
                    h1 Morbius
                    p Marvel Studios
                    p.year 2022
                div 
                    div.rating 
                        img(src="images/Group 12.svg", alt="")
                    p From 342 users
        article 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex...

            section.cast 
                div.cast-profile
                    .profile 
                        img(src="images/Ellipse 3.png", alt="mask off")
                    div
                        h3 Maria Espaes
                        p As Morbius
                div.cast-profile
                    .profile 
                        img(src="images/Ellipse 3.png", alt="mask off")
                    div
                        h3 Maria Espaes
                        p As Morbius
                div.cast-profile
                    .profile 
                        img(src="images/Ellipse 3.png", alt="mask off")
                    div
                        h3 Maria Espaes
                        p As Morbius
                div.cast-profile
                    .profile 
                        img(src="images/Ellipse 3.png", alt="mask off")
                    div
                        h3 Maria Espaes
                        p As Morbius
        button.btn
            a(href="/watch") Watch now



