extends layout

block content
  header 
    figure 
      img(src="images/Group 8.png", alt="Group 8")
    article 
      h1 Onboarding
      p Watch everything you want for free!
    button.btn Enter now