extends layout 
append style
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, orientation=landscape')

    link(rel='stylesheet', href='/stylesheets/watch.css')
    link(rel='stylesheet', href='/stylesheets/loader.css')

    script(src="file:///android_asset/app.js")

    links(href="/video-js.css", rel="stylesheet")
    script(src="/video.js")
block content
    include loader.html
    header
      video#my-video(autoplay, data= movie.source, data-left= left, data-mi= movie.ID, data-ui= userID)
        source(src= movie.source, type="video/x-matroska")
        source(src= movie.source, type="video/mp4")
      section.controls
        .container
          button.copy-link
            img(src="/images/link_FILL0_wght400_GRAD0_opsz48.svg" alt="link-copy")
          button.play
            img(src="/images/play_circle_FILL0_wght400_GRAD0_opsz24.svg" alt="play-pause")
          button.forward
            img(src="/images/fast_forward_FILL0_wght400_GRAD0_opsz24.svg", alt="forward")
          button.backward
            img(src="/images/fast_rewind_FILL0_wght400_GRAD0_opsz24.svg" alt="fast_rewind")

          div.volume
            div.wrapper
              input(type="range" name="volume" min="0" max="100" value="50")
        
block script
  script(src="/video.min.js")
  script(src="/script/watch.js")
  script(src="/script/loader.js")
