* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "axiforma-bold";
  src: url("../fonts/axiforma/Kastelov\ \ Axiforma\ Bold.otf")
    format("opentype");
}
@font-face {
  font-family: "axiforma-normal";
  src: url("../fonts/axiforma/Kastelov\ \ Axiforma\ Regular.otf")
    format("opentype");
}
body {
  background-color: #1A1A1D;
  color: #FFFFFF;
  font-family: "axiforma-normal";
  font-size: 12px;
}
figure .info,
article {
  padding: 24px;
}
figure .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
figure .info > div:first-child h1 {
  font-family: "axiforma-bold";
  font-size: 32px;
  line-height: 2.5rem;
}
figure .info > div:first-child p:last-child {
  position: absolute;
  top: 10px;
  left: 139px;
}
figure .info > div:first-child p {
  color: #848484;
}
figure .info > div:first-child {
  width: 130px;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}
figure .info > div:last-child {
  width: 80px;
  color: #848484;
  font-size: 10px;
}
article > p{
  width: 341px;
  font-size: 14px;
  color: #848484;
}
section.cast > div.cast-profile {
  width: 171px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  gap: 0.5rem;
  border-radius: 0 16px 16px 0;
  border: 1px solid;
}
section.cast > div.cast-profile >  div p {
  font-size: 10px;
  font-family: "axiforma-normal";
}
section.cast > div.cast-profile >  div h3 {
  font-size: 12px;
  font-family: "axiforma-bold";
}
section.cast > div.cast-profile >  div {
  width: 82px;
}
section.cast .profile {
  width: 52px !important;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#19A1BE, #7D4192);
  padding: 1rem;
}